html,
body {
	height: 100%;
}
.row {
	width: 94%;
	margin-top: 30px;
}
.from-btn {
	margin-right: 2em;
	margin-top: 30px;
}

.input-field input[type="text"].invalid + label {
	color: red !important;
}
.input-field textarea[type="text"].invalid + label {
	color: red !important;
}

#contentDiv {
	margin-top: 45px;
}
.card {
	padding-bottom: 20px;
}
.card-article {
	font-size: 1.2em;
}
.card-link {
	color: inherit;
}
.card-title {
	display: inline !important;
	padding-right: 5px;
	font-weight: 600 !important;
	font-size: 25px;
	line-height: 28px;
	font-style: italic;
	background-color: #e0f7fa;
}
.card-author {
	margin: 1em 0 !important;
}
.detail-buttons {
	margin-top: 30px;
	margin-bottom: 50px;
}
.detail-buttons *{
	/* width: 100px; */
	margin-right: 12px;
}
.modal {
	display: block !important;
	z-index: 2;
}
.detail {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	line-height: 1.4;
}
.detail .post-content {
	white-space: pre-wrap;
	line-height: 1.58;
	letter-spacing: -0.003em;
}

/* .edit-textarea{
} */
